{% extends 'base.html.twig' %}

{% block content %}
                            <form id="reset_password_form" method="post">
                                {% if error %}
                                    <div class="alert alert-danger">{{ error }}</div>
                                {% endif %}

                                {% if app.user %}
                                    <div class="checkbox mb-3">You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                                {% endif %}

                                <div class="card">
                                    <div class="card-header">
                                        <div class="float-left col-8">
                                            <h1 class="card-title h3 font-weight-normal" style="line-height:50px;">Enter new password</h1>
                                        </div>
                                        <div class="float-right">
                                            <img src="img/logo.png" height="50">
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="form-group col-md-12">
                                            <label for="password" class="sr-only">Password</label>
                                            <input type="password" name="password" id="password" class="form-control" placeholder="Password" required>
                                        </div>
                                        <div class="form-group col-md-12">
                                            <label for="inputPassword" class="sr-only">Repeat Password</label>
                                            <input type="password" name="repeat_password" id="repeat_password" class="form-control" placeholder="Repeat Password" required>
                                        </div>

                                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                                    </div>
                                </div>

                                <br>
                                <button class="btn btn-lg btn-primary float-right" type="submit">
                                    Save new password
                                </button>
                            </form>

<script>
    validator = $("#reset_password_form").validate({
        rules: {
            password           = "required";
            repeat_password    =    {
                    required: true,
                    equalTo: "#password",
                };
        },
        submitHandler: function(form) {
            $('#reset_password_form').submit();
        }
    });
</script>
{% endblock %}