###> symfony/framework-bundle ###
/.env
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> tideways docker build ###
/docker/symfony_app/tideways
/docker/docker-compose.tideways.yml
/docker/tideways
###< tideways docker build ###

###> production build ###
/docker/production/
###> production build ###
###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###

###> IDE files ###
.idea
###< IDE files ###

###> Mac OS metadata ###
.DS_Store
###< Mac OS metadata ###


###> friendsofphp/php-cs-fixer ###
/.php_cs.dist
/.php_cs.cache
###< friendsofphp/php-cs-fixer ###
