###> tideways docker build ###
/docker/symfony_app/tideways
/docker/docker-compose.tideways.yml
/docker/tideways
###< tideways docker build ###

###> production build ###
/docker/production/
###> production build ###

###> IDE files ###
.idea
###< IDE files ###

###> Mac OS metadata ###
.DS_Store
###< Mac OS metadata ###

###> some testing stuff ###
/test-local
###< some testing stuff ###