<div id="processed-count">{{ count }}</div>
<script type="text/javascript">
    var count = parseInt(document.getElementById('processed-count').innerText);
    if (count !== 0) {
        window.location.href = window.location.href;
    }
</script>