<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a class="ajax-link" href="{{ path('page_type_config_index') }}">Page Types</a></li>
        <li class="breadcrumb-item active">Create Page Type</li>
    </ol>
</nav>

{{ include('page_type_config/_form.html.twig') }}

<button data-link="{{ path('page_type_config_index') }}" class="ajax-btn btn btn-secondary">
    <i class="fa fa-backward"></i> Back
</button>