.configure-form {
    padding: .75rem 1.25rem;
}

.configure-form .form-row {
    width: 100%;
}

.configure-form .input-group-prepend select.form-control-sm:not([size]):not([multiple]) {
    height: 22px;
}

.page-type-config .card-header {
    padding: 0;
}

.page-type-config .card-header button.btn {
    padding: .75rem 1.25rem;
    display: block;
    width: 100%;
    text-align: left;
}

.page-type-config .card-header button.btn .more-less {
    float: right;
}

.page-type-config .card-header button.btn .fa-plus {
    display: none;
}

.page-type-config .card-header button.btn.collapsed .fa-minus {
    display: none;
}

.page-type-config .card-header button.btn.collapsed .fa-plus {
    display: inline-block;
}