.diagram-filters .form-control {
    height: 26px;
    padding: 2px 12px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: .6rem;
}

.date-picker-wrapper {
    width: 47%;
    position: relative;
}

.date-picker-wrapper .form-control-feedback {
    position: absolute;
    top: 4px;
    right: 0;
}

.date-picker-wrapper input[type=text] {
    height: 31px;
}