#diagram_generator {
    position: absolute;
    z-index: 9999;
}

.diagram-controls {
    height: 72px;
    overflow: hidden;
    border: 1px solid rgba(0,0,0,.1);
    background: #fff;
}

.diagram-controls .form-control {
    height: 26px;
    padding: 2px 12px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: .6rem;
}

.date-picker-wrapper {
    width: 47%;
    position: relative;
}

.date-picker-wrapper .form-control-feedback {
    position: absolute;
    top: 4px;
    right: 0;
}

.date-picker-wrapper input[type=text] {
    height: 31px;
}

.controls-aware-diagram-container {
    padding-top: 80px;
}