<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page"><h3>Performance Over Time</h3></li>
    </ol>
</nav>
<div id="diagramContainer"></div>
<script type="text/javascript">
    var basicRumPlotOverTime = function(data, layout_extra_shapes) {
        var layout = {
            yaxis: {
                range: [0, 3000],
                tickvals: [1000, 2000, 3000],
                ticktext: ["1 sec", "2 sec", "3 sec"]
            },
            xaxis: {
                showgrid: false
            },
            legend: {
                x: 0,
                y: 1.2,
                traceorder: 'normal',
                font: {
                    family: 'sans-serif',
                    size: 12,
                    color: '#000'
                },
                bgcolor: '#E2E2E2',
                bordercolor: '#FFFFFF',
                borderwidth: 2
            }
        };

        if (layout_extra_shapes.length > 0) {
            layout.shapes = layout_extra_shapes;
        }

        Plotly.newPlot('diagramContainer', data, layout);
    };

    basicRumPlotOverTime({{ diagrams.diagrams|raw }}, {{ diagrams.layout_extra_shapes|raw }});
</script>
