<h4>{{ item.name }}</h4>
<p>
    Created by: {{ item.user }}
</p>
<div id="widget-data-container"></div>

<script>
    window.addEventListener('load', viewerDiagramBuilder(), false );

    function viewerDiagramBuilder() {
        var widgetJson = {{ item.widget|raw }};
        $.ajax('/widget/generate_diagram',{
            method: 'post',
            data: widgetJson,
            success : function(response) {
                Plotly.react('widget-data-container', response.diagrams, response.layout, {displayModeBar: false, responsive: true})
            }
        });
    }
</script>