<form class="float-left ml-2" method="post" action="{{ path('releases_delete', {'id': release.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ release.id) }}">
    <button class="btn btn-danger"><i class="fa fa-remove"></i>Delete</button>
</form>