<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a class="ajax-link" href="{{ path('releases_index') }}">Releases</a></li>
        <li class="breadcrumb-item">Create Release</li>
    </ol>
</nav>

{{ include('releases/_form.html.twig') }}

<button data-link="{{ path('releases_index') }}" class="ajax-btn btn btn-secondary"><i class="fa fa-backward"></i>Back</button>

