{% extends 'base.html.twig' %}

{% block title %}New Releases{% endblock %}

{% block body %}
    <h1>Create new Releases</h1>

    {{ include('releases/_form.html.twig') }}

    <a href="{{ path('releases_index') }}">back to list</a>
{% endblock %}