<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Boomerang JS Agent</a></li>
        <li class="breadcrumb-item active" aria-current="page">Builder</li>
    </ol>
</nav>
<div class="row">
    <div class="col-3" id="builds-list-container">
        {{ buildsListHtml|raw }}
    </div>
    <div style="display: none" class="col-6" id="builds-builder-container">
        {{ builderHtml|raw }}
    </div>
    <div class="col-9">
        <h4>Build: 8 - 04/17/2019</h4>
        <hr />
        <div class="card">
            <div class="card-body">
                <button class="btn btn-primary" style="width:100%"><i class="fa fa-download"></i> Download</button>
            </div>
        </div>
        <div class="card">
            <div class="card-body">

<pre><code>
&lt;script&gt;
{{ iframeIncludeSnippet|raw }}
&lt;/script&gt;
</code></pre>
            </div>
        </div>
    </div>
</div>
<script>
    $('#boomerang_builder').submit(function( event ) {
        event.preventDefault();

        var data = $(this).serialize();

        $.ajax($(this).attr('action'),
            {
                method: 'post',
                data: data,
                success : function(response) {
                    if (response.error.length === 0) {
                        $.ajax('{{ path('browser_agent_builds_list') }}',
                            {
                                method: 'post',
                                success: function (response) {
                                    $('#builds-list-container').html(response);
                                }
                            }
                        );
                    }

                    if (response.error.length > 0) {
                        alert(response.error);
                    }
                }
            }
        );
    })
</script>