header {
    border-top: 10px solid #065cb1;
    background: #007de1;
    -webkit-box-shadow: 0px 3px 3px 0px rgba(204,204,204,0.9);
    -moz-box-shadow: 0px 3px 3px 0px rgba(204,204,204,0.9);
    box-shadow: 0px 3px 3px 0px rgba(204,204,204,0.9);
}

header .hamburger {
    float: left;
}

header nav {
    float: left;
    margin-left: 30px;
    font-size: 20px;
}

.breadcrumb-item.active,
.breadcrumb-item,
.breadcrumb > li > a,
.breadcrumb-item+.breadcrumb-item::before {
    color: #fff;
}

.breadcrumb {
    padding: 12px 0;
    background: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    margin: 0;
}