#sidebar-left {
    position:relative;
    z-index: inherit;
    padding-bottom: 3000px !important;
    margin-bottom: -3000px !important;
    background: #5a8db6;
    -webkit-transition: 0.1s;
    -moz-transition: 0.1s;
    -o-transition: 0.1s;
    transition: 0.1s;
    padding: 0;
}

#content {
    position: relative;
    z-index: 10;
    padding-bottom: 3000px !important;
    margin-bottom: -2980px !important;
    overflow: hidden;
    background: #fcfcfc;
    padding-top: 10px;
}

#ajax-content nav[aria-label=breadcrumb] {
    display: none;
}

.full-content {
    overflow: hidden;
    padding: 0;
    margin: 0;
}

#main {
    min-height: 800px;
    overflow: hidden;
}

.date-picker-wrapper .form-control-feedback {
    top: 8px !important;
    right: 10px  !important;
    color: darkred;
}

.preloader {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 99999;
    background: #333;
    opacity: 0.2;
    text-align: center;
}

.preloader .devoops-getdata {
    margin: 25% 0;
    display: inline-block;
}

.under-construction {
    background: repeating-linear-gradient(
            45deg,
            rgba(0, 0, 0, 0.2),
            rgba(0, 0, 0.2, 0.2) 10px,
            rgba(0, 0, 0, 0.3) 10px,
            rgba(0, 0, 0, 0.3) 20px
    );
}

.widget-data-container {
    height: 280px;
}