<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active">About</li>
    </ol>
</nav>

<div class="row">
    <div class="col-8">
        <strong>Short story:</strong>
        <hr />
        <p>Basic RUM is open source project that was started in early 2018. The initial project aim was to help us
            show that performance matters for back then my full time job. At the beginning I was doing all diagrams using simple approach:
            When I needed new diagram I created plain PHP file and implemented logic that gave me the right diagram/answer. This approach
            was not good enough because after certain moment it wasn't quick enough to create more complex diagrams. This motivated me to
            work on more universal system that was easier to maintain and provided answers faster. I named this system Basic RUM. You can
            read more from a blog post I've <a href="https://calendar.perfplanet.com/2018/open-source-backend-rum-tool-wait-what/" target="_blank">written at the beginning of 2019</a>.
        </p>

        <strong>Is it ready to use?</strong>
        <hr />
        <p>Not yet because many things are still unclear but if you like to try it locally there is setup for local development: <a href="https://github.com/basicrum/backoffice/tree/master/docker" target="_blank">https://github.com/basicrum/backoffice/tree/master/docker</a> </p>

        <strong>What's lostweekend.de?</strong>
        <hr />
        <p>A Café in city of Munich from where I spend many weekends working on Basic RUM proof of concept.</p>

        <strong>Condition:</strong>
        <hr />
        <p>Early alpha version, not clear architecture, a bit of spaghetti code but has some unit tests. Best to be used on Desktop.
            Does the work and already helped 2 businesses but still not easy to install, configure and maintain.</p>

        <strong>Capabilities:</strong>
        <hr />
        <p>Initially there was a long list of capabilities here but I decided to delete it and leave you play and figure out this demo :)</p>

        <strong>Condition:</strong>
        <hr />
        <p>Early alpha version, not clear architecture, a bit of spaghetti code but has some unit tests. Best to be used on Desktop.
            Does the work and already helped 2 businesses but still not easy to install, configure and maintain.</p>

        <strong>Thanks to:</strong>
        <hr />
        <ul>
            <li><a href="https://twitter.com/bluesmoon" target="_blank">Philip Tellis</a> who created and open sourced <a href="https://github.com/akamai/boomerang" target="_blank">Boomerang JS</a>.</li>
            <li><a href="https://twitter.com/nicj" target="_blank">Nic Jansma</a> who works on Resource Timing - Boomerang JS plugin.</li>
            <li><a href="https://www.linkedin.com/in/tobias-st%C3%B6be-437645163/" target="_blank">Tobias Stöbe</a> who helped with UX/UI ideas.</li>
            <li><a href="https://twitter.com/rmoestl" target="_blank">Robert Möstl</a> for looking at early demo and consulting about data viz related topics.</li>
            <li><a href="https://twitter.com/micmro" target="_blank">Michael Mrowetz</a> who created <a href="https://github.com/micmro/PerfCascade" target="_blank">PerfCascade</a>.</li>
            <li><a href="https://github.com/eliskovets" target="_blank">Evgeny Liskovets</a> who helped with initial local environment Docker setup.</li>
            <li><a href="https://github.com/sasquatch-mc" target="_blank">Yoan-Alexander Grigorov</a> who helped initial architecture requirements.</li>
            <li>Viacheslav Kremeshniy for providing me RUM data for this demo.</li>
            <li>ePet World GmbH and Markus Schneider for motivation to show that performance matters and running reports over their RUM data.</li>
            <li>Lyubomir Filipov, Georgi Ivanov and Tsvetan Krastev for helping me with very early version of Basic RUM.</li>
            <li>Everybody who provided positive and negative feedback in person and over the Internet.</li>
        </ul>
    </div>
    <div class="col-4">
        <strong>Software used:</strong>
        <hr />
        <a href="https://plot.ly/javascript/" target="_blank"><img width="100%" src="/img/info/plotly.png" /></a>
        <hr />
        <a href="https://github.com/akamai/boomerang" target="_blank">Boomerang JS</a> (photo by Philip Tellis)
        <a href="https://github.com/akamai/boomerang" target="_blank"><img width="100%" src="/img/info/boomerang.png" /></a>
        <small class="">* used under a Creative Commons by-nc-sa license</small>
        <hr />
        <a href="https://github.com/micmro/PerfCascade" target="_blank">
            Perf Cascade
            <img width="100%" src="/img/info/perf-cascade.png" />
        </a>
        <hr />
        <a href="https://symfony.com/" target="_blank"><img width="100%" src="/img/info/symfony_black_02.png" /></a>

    </div>

</div>