<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active">What's next?</li>
    </ol>
</nav>

<div class="row">
    <div class="col-6">
        <strong>The plan:</strong>
        <hr />
        <p>From beginning of May 2019 we/me star new development cycle that aims to fix and implement new feature based on external feedback.</p>
        
        <p>There will be better Domain Driven Design architecture and main system requirements will be improved:</p>
        <ul>
            <li>Easily understandable diagrams about relation Business goals and web performance metrics.</li>
            <li>Providing quick answers to Basic RUM users.</li>
            <li>Providing quick answers to Basic RUM users (aka. performance of performance monitoring system).</li>
            <li>Easier way to ask to define "questions" for Basic RUM.</li>
        </ul>
    </div>
    <div class="col-6">
        <strong>New design:</strong>
        <hr />
        <img src="/img/info/exampleBoard.jpg" width="100%" />
    </div>
</div>